body {
    padding-top: 51px;
}

a {
    text-decoration: none;
}
a:hover {
    color: #e4393c;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 15px;
    padding-bottom: 2px;
}

/* rewrite bootstrap */
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #e4393c;
}
.recommend {
    padding-top: 15px;
}

.imgblock {
    padding-bottom: 10px;
}
.hr {
    margin-top: 5px;
    margin-bottom: 20px;
}
.btn-primary {
    color: #fff;
    background: #e4393c;
    border-color: #e4393c;
}
.btn-primary:hover {
    color: #fff;
    background: #e4393c;
    border-color: #e4393c;
}

/* page zone */
.page {
    margin-bottom: 15px;
}
.page .page-tree li{
    line-height: 15px;
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 0;
    border-left: 4px solid #f4f4f4;
    font-size: 14px;
}
.page .page-tree li.cur{
    border-left: 4px solid #e4393c;
}
.page h3.page-nav-title {
    margin: 0;
    padding: 2px 0;
    height: 35px;
    line-height: 35px;
    color: #7A7F81;
    font-size: 14px;
    border-bottom: 1px solid #cbd1d3;
}
.page .page-tree > h3 {
    font-weight: bold;
}
.page .page-content {
    padding-top: 10px;
}
.page .page-content p {
    font-size: 16px;
    text-indent: 2em;
}

.hytitle {
    border-left: 10px solid red;
    border-bottom: 1px solid red;
    padding-left:5px;
    padding-bottom:2px;
}


/* 产品列表 */
.page .page-product-list {
    margin-top: 15px;
}
.page .product_list {
    padding-bottom: 15px;
}
.page .product_list h4 {
    font-weight: bold;
}
.page .product_list h4>a {
    color: #000;
}

#mapCanvas {
    height: 600px;
    margin-bottom: 20px;
}

footer {
    color: #bcbcbc;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #404040;
    border-top:4px solid #b70000;
}

footer .qrcode {
    width:60%;
}
