body {
    padding-top: 51px;
}

a {
    text-decoration: none;
}
a:hover {
    color: #e4393c;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 15px;
    padding-bottom: 2px;
}

/* rewrite bootstrap */
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #e4393c;
}
.navbar li {
    font-size: 15px;
    padding-bottom: 0;
}
.navbar-default .navbar-nav>.active>a {
    padding: 15px 15px 9px 15px;
    border-bottom: 6px solid #e4393c;
    background-color: #f8f8f8;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    padding: 15px 15px 9px 15px;
    border-bottom: 6px solid #e7e7e7;
    background-color: #f8f8f8;
}
.navbar-brand {
    padding: 0;
}
.recommend {
    padding-top: 15px;
}

.imgblock {
    padding-bottom: 10px;
}
.hr {
    margin-top: 5px;
    margin-bottom: 20px;
}
.btn-primary {
    color: #fff;
    background: #e4393c;
    border-color: #e4393c;
}
.btn-primary:hover {
    color: #fff;
    background: #e4393c;
    border-color: #e4393c;
}

.breadcrumb {
    background: #fff;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #cbd1d3;
    border-radius: 0;
}

.ur_here {
    color: #888;
    line-height: 33px;
}
.ur_here a {
    color: #999;
}
.ur_here a:hover {
    color: #e4393c;
    text-decoration: none;
}

/* page zone */
.page {
    margin-bottom: 15px;
}
.page .page-tree li{
    line-height: 15px;
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 0;
    border-left: 4px solid #f4f4f4;
    font-size: 14px;
}
.page .page-tree li.cur{
    border-left: 4px solid #e4393c;
}
.page .page-tree li.cur a{
    color: #e4393c;
}
.page .page-tree li a {
    color: #7a7f81;
}
.page .page-tree li a:hover {
    color: #e4393c;
}
.page h3.page-nav-title {
    margin: 0;
    padding: 2px 0;
    height: 35px;
    line-height: 35px;
    color: #7A7F81;
    font-size: 14px;
    border-bottom: 1px solid #cbd1d3;
}
.page .page-tree > h3 {
    font-weight: bold;
}
.page .page-content {
    padding-top: 10px;
}
.page .page-content p {
    font-size: 16px;
    text-indent: 2em;
}

.hytitle {
    border-left: 10px solid red;
    border-bottom: 1px solid red;
    padding-left:5px;
    padding-bottom:2px;
}


/* 产品列表 */
.page .page-product-list {
    margin-top: 15px;
}
.page .product_list {
    padding-bottom: 15px;
}
.page .product_list h4 {
    font-weight: bold;
}
.page .product_list h4>a {
    color: #000;
}
.page .product_list h4>a:hover {
    color: #e4393c;
    text-decoration: none;
}
.product-item {
    margin-bottom: 20px;
}

#mapCanvas {
    height: 600px;
    margin-bottom: 20px;
}

footer {
    color: #bcbcbc;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #404040;
    border-top:4px solid #b70000;
}

footer img {
    max-width:60%;
}

@media (max-width: 480px) {
    .slide {
        display: none;
    }
}

@media (max-width: 768px) {
    .slide-title {
        display: none;
    }
    footer h3, footer li {
        text-align: center;
    }
    footer img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }
}
