<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>版本信息</h3>
                <p>&copy; 云南合一体育用品有限公司 2014-2015 版权所有</p>
                <p>备案号： {{icp}}</P>
                <p>Powered By WangLu</p>
                <p>Designed By WangLu</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>联系我们</h3>
                <p>公司地址：{{site_address}}</p>
                <p>销售热线：{{tel}}</P>
                <p>传真号码：{{fax}}</p>
                <p>电子邮箱：{{email}}</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>公众平台</h3>
                <img src="static/images/qrcode_for_hy_860.jpg" class="qrcode">
            </div>
        </div>
    </div>
</footer>
