<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>版本信息</h3>
                <ul>
                    <li>&copy; 云南合一体育用品有限公司 2014-2015 版权所有</li>
                    <li>备案号： {{icp}}</li>
                    <li>Powered By WangLu</li>
                    <li>Designed By WangLu</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>联系我们</h3>
                <ul>
                    <li>公司地址：{{site_address}}</li>
                    <li>销售热线：{{tel}}</li>
                    <li>传真号码：{{fax}}</li>
                    <li>电子邮箱：{{email}}</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>公众平台</h3>
                <img src="/static/images/qrcode_for_hy_860.jpg" class="qrcode">
            </div>
        </div>
    </div>
</footer>
