<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{title}}</title>

    <meta name="keywords" content="{{item.keywords}}" />
    <meta name="description" content="{{item.description}}" />

    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- 顶部导航 -->
        {% include 'nav.html' %}
        <!-- 顶部导航 end -->

        <div class="container page">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 page-tree">
                    {% include 'inc/product_tree.html' %}
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 page-container">
                    {% include 'inc/ur_here.html' %}
                    <div class="row page-product-list">
                        <div class="col-xs-12 col-sm-12 col-md-12 product-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <img class="media-object img-responsive" src="{{item.product_image}}" alt="{{item.product_name}}" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <h4><a href="{{item.url}}">{{item.product_name}}</a></h4>
                                    <p>销售热线：{{tel}}</p>
                                    <p>上架时间：{{item.add_time}}</p>
                                </div>
                            </div>
                        </div>
                        <p>产品介绍</p>
                        <hr class="hr">
                        <div class="col-xs-12 col-sm-12 col-md-12 product-item">
                            {% autoescape off %}
                            {{item.content}}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
