<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{title}}</title>

    <meta name="keywords" content="{{site_keywords}}" />
    <meta name="description" content="{{site_description}}" />

    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- 顶部导航 -->
        {% include 'nav.html' %}
        <!-- 顶部导航 end -->
        <div class="container">
            <h3 class="hytitle">实景展示</h3>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/001.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/002.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/003.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/004.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/005.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/006.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/007.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/008.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/009.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/010.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/011.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/realview/012.jpg" class="img-responsive center-block">
                </div>
            </div>
        </div>

        <div class="container">
            <h3 class="hytitle">企业未来</h3>
            <p>生产基地积极建设中</P>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/001.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/002.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/003.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/004.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/005.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/006.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/007.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/008.jpg" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 imgblock">
                    <img src="/static/images/weilai/009.jpg" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
